.mtt_30 {
    margin-top: 30px;
}

.awesome__logo {
    color: #242f51;
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bg123 {
    font-size: 20px;
}

.appimg_bg {
    background-color:wheat;
    border-radius:70%;
}

.mbb_30 {
    margin-bottom: 30;
}

.mb_20 {
    margin-bottom: 20px;
}

// .mbb_60 {
//     line-height: 26px;
//     font-family:sans-serif;
//     color: #616368;
//     font-weight: 400;
//     font-size: 16px;
//     margin-bottom: 60px;
// }

.sub_title {
    color: #f55767;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
}

.mtt_60 {
    color: #616368;
    line-height: 26px;
    font-weight: 400;
    font-size: 16px;
    font-family: sans-serif;
}

.appimg_bg2 {
    border-radius: 70px;
    background-color: #f4f4ff;
}

.appimg_bg3 {
    background-color: #e4ffee;
    border-radius: 70px;
}