.Design {
    margin-top: 60px;
}

.title_head {
    margin-bottom: 30px;
    max-width: 357px;
    font-size: 36px;
    line-height: 46px;
    color: #242f51
}

.design_text {
    max-width: 410px;
    line-height: 26px;
    color: #616368;
    font-weight: 500;
    font-size: 16px;
}