.smart_title {
    font-size: 36px;
    line-height: 46px;
    color: #242f51;
    font-weight: 700;
    font-family: sans-serif Courier, monospace;
}

.smart-text {
    border-left: 1px solid #b9b9b8;
    height: 145px;
    padding-left: 45px;
    padding-top: 50px;
    max-width: 457px;
    display: flex;
}

.smart_name {
    font-family: sans-serif;
    color: #616368;
    font-weight: 500;
    font-size: 18px;
}

.mt {
    max-width: 267px;
    line-height: 26px;
    color: #3a3a3b;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.smart_icon1 {
    width: 90px;
    height: 90px;
    background-color: #ffecef;
    border-radius: 70px;
}

.smart_icon2 {
    width: 90px;
    height: 90px;
    background-color: #f4f4ff;
    border-radius: 70px;
}

.smart_icon3 {
    width: 90px;
    height: 90px;
    background-color: #e4ffee;
    border-radius: 70px;
}